---
---
@charset "utf-8";

// Typography
$base-font-weight: 300;
$base-red: #EE0000;
$base-brown: #25201d;
$action-color: $base-red;

// Border
$base-border-color: $base-red;
$base-font-size: 1.2em;

// Background Colors
$base-background-color: $base-brown;


// Import partials from `sass_dir` (defaults to `_sass`)
@import "base",
      {% for section in site.sections %}
        "sections/{{section}}",
      {% endfor %}
        "components/hero.scss",
        "components/global-footer.scss";



// Customisations for this theme

body, h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

section {
  margin: 1em 0;
  padding: 2em 0;
  &:nth-child(2n) {
    background: $base-red;
    color: white;
    .stats {
      li {
        color: white;
      }
    }
  }

  &:last-of-type{
    margin-bottom: 0;
  }
}

.logo-container{
  background-color: $base-background-color;
  text-align: center;
}

.hero {
  @include background(lighten($base-brown, 10%));
  .hero-inner {
    padding: 2.5em .5em;
    .hero-copy {
      width: 100%;
      font-size: 1.8em;
      p {
        margin-bottom: 0em;
        @include media($large-screen) {
          max-width: 100%;
        }
      }
    }
  }

  .primary-action-button {
    margin: 1em 0;
    padding: 0.5em 2em;
    border: 2px solid white;
    display: inline-block;
    border-radius: 0.25em;
  }
}

.stats {
  font-size: 2em;
}

.global-footer {
  background-color: $base-background-color;
  color: white;
}
