---
---
@charset "utf-8";

// Typography
$base-font-weight: 300;
$base-red: #9c1408;
$base-brown: #25201d;
$action-color: $base-red;

// Border
$base-border-color: $base-red;
$base-font-size: 1.2em;

// Background Colors
$base-background-color: $base-brown;
// $base-font-color: white;


// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";



// Customisations for this theme

#{$all-text-inputs} {
  color: $base-red;
  font-weight: 300;
}

body, h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

section {
  margin: 1em 0;
  padding: 2em 0;
  &:nth-child(2n+1) {
    background: $base-red;
    color: white;
    .stats {
      li {
        color: white;
      }
    }
  }

  &:last-of-type{
    margin-bottom: 0;
  }
}

.device-background {
  background-color: darken($base-red, 15%);
}


.logo-container{
  background-color: $base-background-color;
  text-align: center;
}


#hero {
  margin: 0;
  padding: 0;
  + section {
    margin-top: 0;
  }

  @include background(darken($base-red, 30%));
  .hero-background {
    opacity: 0.4;
  }
  .hero-inner {
    padding: 2.5em .5em;
    .hero-copy {
      width: 100%;
      font-size: 1.8em;
      p {
        margin-bottom: 0em;
        @include media($large-screen) {
          max-width: 100%;
        }
      }
    }
  }

  .primary-action-button {
    margin: 1em 0;
    padding: 0.5em 2em;
    border: 2px solid white;
    display: inline-block;
    border-radius: 0.25em;
  }
}

.stats {
  font-size: 2em;
}

#signup {
  padding: 0;
  .success .loading .error {
    margin: 0;
  }
  .formInput {
    padding: 2em 4em;
    background-color: $base-red;
    color: white;
    position: relative;
    @include media($large-screen) {
      p, input {
        max-width: 45%;
      }

      &::after {
        content: " ";
        display: block;
        width: 35%;
        position: absolute;
        right: 10%;
        top: 10%;
        bottom: 10%;
        background: url(https://farm9.staticflickr.com/8493/8280699806_d5bdff2252_z_d.jpg) no-repeat center center;
        z-index: 100;
        background-size: contain;
      }
    }
  }
}

.global-footer {
  background-color: $base-background-color;
  color: white;
  font-size: 0.8em;
}
