---
---
@charset "utf-8";

// Typography
$base-font-weight: 300;
$base-red: #EE0000;
$base-brown: #25201d;
$action-color: $base-red;

$base-font-size: 2em;

// Border
$base-border-color: $base-red;

// Background Colors
$base-background-color: $base-brown;


// Import partials from `sass_dir` (defaults to `_sass`)
@import "base",
        "components/hero.scss",
        "components/global-footer.scss";


// Customisations for this theme

body, h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

.logo-container{
  background-color: $base-background-color;
  text-align: center;
}

.hero {
  @include background(lighten($base-brown, 10%));
  .hero-inner {
    padding: 2.5em .5em;
    .hero-copy {
      width: 100%;
      p {
        margin-bottom: 0em;
        @include media($large-screen) {
          max-width: 100%;
        }
      }
    }
  }
}
