@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$loading-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

@import "components/alert";
@import "components/global-footer";

@import "sections/features";
@import "sections/phone";
@import "sections/stats";
@import "sections/video_embed";

body {
  padding: 0;
  margin: 0;
}

/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;

    path {
      fill: white;
    }
  }
}

.post, .page, section {
  @include outer-container;
  article {
    @include span-columns(9);
  }
}
