<section id="signup" class="formInput">
  <div class="success">
    <h2>Hooray</h2>
    <p>you've succesfully been added to the mailing list! Please don't forget to head over to your inbox and click the confirm link. Meanwhile, here is your personal link for sharing:
    </p>
    <p>
      <input type="text" id="shareLink" value="" />
      <a class="sharer" target="_blank" data-href="https://twitter.com/intent/tweet?text={% include components/render.html a=page.social_share.twitter_text b=site.social_share.twitter_text render='esc' %}&url=">
        {% include components/fa-icon.html name="twitter" %} tweet
      </a>
      <a class="sharer" target="_blank" data-href="https://www.facebook.com/sharer/sharer.php?u=">
        {% include components/fa-icon.html name="facebook-square" %} share
      </a>
      <a class="sharer" target="_blank" data-href="mailto:?suject=Check+Out+{{site.title}}&body={% include components/render.html a=page.social_share.email_text b=site.social_share.email_text render='esc' %}+">
        {% include components/fa-icon.html name="envelope" %} email
      </a>
    </p>
    <p>
      <a class="js-reset" href="">add another</a>
    </p>

  </div>
  <div class="loading">
    <h3>Loading</h3>
  </div>

  <div class="error">
    <h2>Oh, noes</h2>
    <p>
      <strong>Something went wrong:</strong> <span id="errorMessage"></span>
    </p>
    <a class="js-reset" href="">try again</a>
  </div>
  {% if page.mailchimp %}
    {% assign mailchimp=page.mailchimp %}
  {% else %}
    {% assign mailchimp=site.mailchimp %}
  {% endif %}
  <form id="mailchimpForm" class="formInput"  action="https://{{mailchimp.server}}/subscribe/post-json" method="POST">
    {% include components/render.html a=page.signup.text b=site.signup.text render="md" %}
    <input type="hidden" value="{{mailchimp.user}}" name="u" />
    <input type="hidden" value="{{mailchimp.id}}" name="id" />
    <input id="js-hidden-source" type="hidden" value="" name="SOURCE" />
    <input id="js-hidden-referrer" type="hidden" value="" name="REFERRER" />
    <input id="js-hidden-code" type="hidden" value="" name="CODE" />
    <input type="text" name="NAME" required placeholder="{% include components/render.html a=page.signup.placeholder.name b=site.signup.placeholder.name c='Your Name' %}" />
    <input type="text" id="js-email" name="EMAIL" required placeholder="
      {% include components/render.html a=page.signup.placeholder.email b=site.signup.placeholder.email c='Your Email' %}" />
    <button type="submit">

      {% include components/render.html a=page.signup.buttonText b=site.signup.buttonText c="Submit" render="safe" %}
    </button>
  </form>
</section>

<footer class="global-footer" role="credits">
  {% include components/render.html a=page.credits b=site.credits render="md" %}
</footer>
