<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include themes/{{site.theme}}/header.html %}


    {% for section in site.sections %}

      {% if section.name %}
        {% assign name=section.name %}
      {% else %}
        {% assign name=section %}
      {% endif %}

      <section id="{{name}}">
        {% if section.pre %}
          {{section.pre | markdownify }}
        {% endif %}

        {% include sections/{{name}}.html payload=section %}

        {% if section.post %}
          {{section.post | markdownify }}
        {% endif %}
      </section>
    {% endfor %}


    {{ content }}

    {% include themes/{{site.theme}}/footer.html %}

    {% include components/global_footer.html %}

  </body>

</html>
