<!DOCTYPE html>
<html>

  {% assign theme=site.theme %}
  {% if page.theme %}
    {% assign theme=page.theme %}
  {% endif %}

  {% include head.html %}

  <body>

    {% include themes/{{theme}}/header.html %}


    {% assign sections=site.sections %}
    {% if page.sections %}
      {% assign sections=page.sections %}
    {% endif %}

    {% for section in sections %}

      {% if section.name %}
        {% assign name=section.name %}
      {% else %}
        {% assign name=section %}
      {% endif %}

      <section id="{{name}}">
        {% if section.pre %}
          {{section.pre | markdownify }}
        {% endif %}

        {% include sections/{{name}}.html payload=section %}

        {% if section.post %}
          {{section.post | markdownify }}
        {% endif %}
      </section>
    {% endfor %}


    {{ content }}

    {% include themes/{{theme}}/footer.html %}

    {% include components/global_footer.html %}

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
    {% include javascript.js %}
    </script>

  </body>

</html>
